@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BlackItalic.eot');
    src: url('RobotoCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BlackItalic.woff2') format('woff2'),
        url('RobotoCondensed-BlackItalic.woff') format('woff'),
        url('RobotoCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.eot');
    src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Bold.woff2') format('woff2'),
        url('RobotoCondensed-Bold.woff') format('woff'),
        url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Black.eot');
    src: url('RobotoCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Black.woff2') format('woff2'),
        url('RobotoCondensed-Black.woff') format('woff'),
        url('RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.eot');
    src: url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-BoldItalic.woff') format('woff'),
        url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraBoldItalic.eot');
    src: url('RobotoCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-ExtraBoldItalic.woff') format('woff'),
        url('RobotoCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraBold.eot');
    src: url('RobotoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('RobotoCondensed-ExtraBold.woff') format('woff'),
        url('RobotoCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraLightItalic.eot');
    src: url('RobotoCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('RobotoCondensed-ExtraLightItalic.woff') format('woff'),
        url('RobotoCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraLight.eot');
    src: url('RobotoCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraLight.woff2') format('woff2'),
        url('RobotoCondensed-ExtraLight.woff') format('woff'),
        url('RobotoCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light.eot');
    src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Light.woff2') format('woff2'),
        url('RobotoCondensed-Light.woff') format('woff'),
        url('RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.eot');
    src: url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Italic.woff2') format('woff2'),
        url('RobotoCondensed-Italic.woff') format('woff'),
        url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Medium.eot');
    src: url('RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Medium.woff2') format('woff2'),
        url('RobotoCondensed-Medium.woff') format('woff'),
        url('RobotoCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic.eot');
    src: url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('RobotoCondensed-LightItalic.woff') format('woff'),
        url('RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-SemiBold.eot');
    src: url('RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('RobotoCondensed-SemiBold.woff') format('woff'),
        url('RobotoCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-MediumItalic.eot');
    src: url('RobotoCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-MediumItalic.woff2') format('woff2'),
        url('RobotoCondensed-MediumItalic.woff') format('woff'),
        url('RobotoCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Regular.woff2') format('woff2'),
        url('RobotoCondensed-Regular.woff') format('woff'),
        url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ThinItalic.eot');
    src: url('RobotoCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ThinItalic.woff2') format('woff2'),
        url('RobotoCondensed-ThinItalic.woff') format('woff'),
        url('RobotoCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Bold.eot');
    src: url('RobotoSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Bold.woff2') format('woff2'),
        url('RobotoSemiCondensed-Bold.woff') format('woff'),
        url('RobotoSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-BlackItalic.eot');
    src: url('RobotoSemiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-BlackItalic.woff') format('woff'),
        url('RobotoSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-SemiBoldItalic.eot');
    src: url('RobotoCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-SemiBoldItalic.woff') format('woff'),
        url('RobotoCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Thin.eot');
    src: url('RobotoCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Thin.woff2') format('woff2'),
        url('RobotoCondensed-Thin.woff') format('woff'),
        url('RobotoCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Black.eot');
    src: url('RobotoSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Black.woff2') format('woff2'),
        url('RobotoSemiCondensed-Black.woff') format('woff'),
        url('RobotoSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Medium.eot');
    src: url('RobotoSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Medium.woff2') format('woff2'),
        url('RobotoSemiCondensed-Medium.woff') format('woff'),
        url('RobotoSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Italic.eot');
    src: url('RobotoSemiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Italic.woff2') format('woff2'),
        url('RobotoSemiCondensed-Italic.woff') format('woff'),
        url('RobotoSemiCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraBold.eot');
    src: url('RobotoSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraBold.woff') format('woff'),
        url('RobotoSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Light.eot');
    src: url('RobotoSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Light.woff2') format('woff2'),
        url('RobotoSemiCondensed-Light.woff') format('woff'),
        url('RobotoSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraBoldItalic.eot');
    src: url('RobotoSemiCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraBoldItalic.woff') format('woff'),
        url('RobotoSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-BoldItalic.eot');
    src: url('RobotoSemiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-BoldItalic.woff') format('woff'),
        url('RobotoSemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-LightItalic.eot');
    src: url('RobotoSemiCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-LightItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-LightItalic.woff') format('woff'),
        url('RobotoSemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraLight.eot');
    src: url('RobotoSemiCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraLight.woff') format('woff'),
        url('RobotoSemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-ExtraLightItalic.eot');
    src: url('RobotoSemiCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-ExtraLightItalic.woff') format('woff'),
        url('RobotoSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

